/*index*/
img {
    max-width: 100%;
}
html {
    font-size: 100%;
}
a {
    color: black;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}
#tituloNombre {
    text-align: center;
    font-family: 'nothing you could do', handwriting;
    font-size: 1.5rem;
    font-weight: lighter;
    @media (min-width: 576px) {
            font-size: 2.3rem;
    }
}
/*CAROUSEL*/ 
.carousel-item {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-bakcground-size: cover;
    -o-background-size: cover;
    background-position: center center;
}
#sliderUno {
    background-image: url(../../img/fondo.jpg);
}
#sliderDos {
    background-image: url(../../img/foto3carousel.jpg);
}
#sliderTres {
    background-image: url(../../img/Magazine-Mockup-carousel.jpg);
}
.carousel-caption {
    position: absolute;
    top: 35%;
    right: 15%;
    left: 15%;
}
.carousel-footer {
    position: absolute;
    top: 90%;
    right: 15%;
    left: 15%;
    z-index: 10;
    color: #ffffff;
}
/*FIN CAROUSEL*/ 
#subtituloIndex {
    font-family: 'julius sans one', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    @media (min-width:992px){
        font-size: 2rem;
    }     
}
#botonIndex {
    background-color: #FFD2A8;
    font-family: 'julius sans one', sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
}
#navIndex {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1020;
}
/*barra de navegación*/
.navbar {
    padding: .5rem 1rem .5rem 1rem;
    @media (min-width: 992px) {
        height: 4rem;
    }
}
.nav-item {
    font-size: 1rem;
    font-family: 'Julius Sans One', sans-serif;
    align-self: flex-end;
}
.navbar-collapse {
    justify-content: flex-end;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}
.navbar-toggler-icon {
    width: 1.5em;
    height: 1.5em;
    @media (min-width: 576px) {
        width: 3em;
        height: 3em;
    }
}
/*titulo de cada una de las páginas. excepto para el index*/
.tituloDePagina {
    margin-top: 2rem;
    text-align: center;
    font-family: 'nothing you could do', handwriting;
    font-size: 2rem;
    font-weight: lighter;
}
@media (min-width:576px) {
    .tituloDePagina {
        font-size: 3rem;
    }
}
/*sobre mi*/ 
.main_sobremi_contenedor_descripcion {
    padding: 0;
}
@media (min-width: 576px) {
    .main_sobremi_contenedor_descripcion {
        padding-left: 3rem !important;
    }
}
@media (min-width: 1200px) {
    .main_sobremi_contenedor_descripcion {
        padding-left: 5rem !important;
    }
}
.main_sobremi_descripcion {
    font: lighter 1rem 'julius sans one';
    padding: 0rem 1rem;
    margin-bottom: 0;
}
@media (min-width: 1200px) {
    .main_sobremi_descripcion {
        font-size: 1.3rem;
    }
}
.main_sobremi_contenedor_fotopersonal {
    padding: 1rem 6rem 0rem;
    margin-bottom: 0;
}
@media (min-width: 576px) {
    .main_sobremi_contenedor_fotopersonal {
        padding-left: 3rem;
        padding-right: 4rem;
    }
}
@media (min-width: 992px) {
    .main_sobremi_contenedor_fotopersonal {
        padding: 2rem 6rem 0rem;
    }
}
@media (min-width:1200px) {
    .main_sobremi_contenedor_fotopersonal {
        padding-top: 4rem;
        padding-left: 10rem;
        padding-right: 8rem;
    }
}
.main_sobremi_fotopersonal {
    width: 100%;
    height:  100%;
}
.section_habilidades_barrafuente {
    font-size: 1rem;
}
.section_habilidades {
    @media (min-width:992px) {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}
/*portafolio*/ 
.subtituloPortafolio {
    text-align: center;
    font-family: 'julius sans one', sans-serif;
    font-size: 22px;
    font-weight: lighter;
    flex-grow: 1;
}
#mainPortafolio {
    padding: 20px;
}
.descripcion_portafolio {
    font: lighter 1rem 'julius sans one';
    padding-top: 10px;
    @media (min-width: 720px) {
        padding: 10px 50px;
        font-size: 1.3rem;
    }
}
#contenedorPortafolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-around;
}
.contenedorAppMovil {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    @media(min-width: 720px) {
        padding: 10px;
    }
    @media (min-width:992px) {
        padding: 30px 10px;
    }
}
.appUno {
    width: 220px;
    height: 309px;
    flex-grow: 1;
    &:hover {
        border: 5px solid #f7f7f7;
    }
}
.magazine {
    width: 300px;
    height: 286px;
    flex-grow: 1;
    &:hover {
        border: 5px solid #f7f7f7;
    }
}
.lush {
    width: 353px;
    height: 278px;
    flex-grow: 1;
    &:hover {
        border: 5px solid #f7f7f7;
    }
}
.contenedorBizia {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.bizia {
    width: 328px;
    height: 300px;
    flex-grow: 1;
    &:hover {
        border: 5px solid #f7f7f7;
    }
    object-fit: cover;
}
/*Fotografía*/

.main_fotografia_botones {
    font-family: 'julius sans one';
    font-size: 1rem;
    font-weight: lighter;
    padding: .2rem .4rem;
}
#galeria {
    margin: 0;
}
@media (min-width:1200px) {
    #galeria {
        padding: 1rem 3rem;
        margin: 0 6rem;
    }
}
#galeria .col-lg-4 {
    margin: 0;
    padding: 2rem;
    height: 350px;
}
#galeria img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: none;
    &:hover {
        border: 5px solid #f7f7f7;
    }
}
/*Contacto*/ 
#formulario {
    font-size: 1rem;
    font-family: 'julius sans one', sans-serif;
    font-weight: lighter;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-left: 15px;
    padding-right: 15px;
}
.form-control {
    background-color: #FFD2A8;
}
.custom-select {
    background-color: #FFD2A8;
}
.form-check {
    margin-top: 1rem;
}
.espacioFormulario {
    margin-top: 1rem;
}
/*footer*/
#footer {
    background-color: #FFD2A8;
    margin-top: 2rem;
    position: sticky;
}
.footer_redes {
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer_copyright {
    font-family: 'julius sans one';
    font-size: .8rem;
    font-weight: bold;
}