<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>PORTAFOLIO</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/93ff0fac8f.js" crossorigin="anonymous"></script> 
	<link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
	<div class="container-fluid no-gutters">
		<header>
			<div class="row no-gutters">
				<div class="col-xs-12 col-md-12 col-lg-12 ">
					<nav id="navIndex" class="navbar navbar-expand-lg navbar-light shadow-sm p-3 bg-white rounded">
						<a id="tituloNombre" class="navbar-brand" href="index.html">Stephanie Vasco</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						  <span class="navbar-toggler-icon"></span>
						</button> 
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
						  <ul class="navbar-nav">
							<li class="nav-item active">
							  <a class="nav-link" href="../index.html">Inicio</a>
							</li>
							<li class="nav-item active">
							  <a class="nav-link" href="sobremi.html">Sobre Mí</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="portafolio.html">Portafolio</a>
							</li>
							<li class="nav-item dropdown active">
							  <a class="nav-link dropdown-toggle" href="fotografia.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Fotografía
							  </a>
							  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="fotografia.html">All</a>
								<a class="dropdown-item" href="bw.html">Black and white</a>
								<a class="dropdown-item" href="airelibre.html">Outside</a>
								<a class="dropdown-item" href="retratos.html">Portraits</a>
							  </div>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="contacto.html">Contacto</a>
							</li>
						</div>
					  </nav>
				</div>
			</div>
		</header>
		<main id="mainPortafolio"> <!--Main-->
            <h2 class="tituloDePagina">Mockup Cosmopolitan Magazine</h2>
            <div id="contenedorPortafolio">
                <div class="contenedorLush"> <!--LUSH-->
                    <a href="../img/lush/grafica6.jpg" data-lightbox="lush">
                        <img class="lush" src="../img/lush/grafica6.jpg" alt="Publicidad marca Lush">
                    </a>
                </div>
                <div class="contenedorLush"> <!--LUSH-->
                    <a href="../img/lush/grafica7.jpg" data-lightbox="lush">
                        <img class="lush" src="../img/lush/grafica7.jpg" alt="Publicidad marca Lush">
                    </a>
                </div>
            </div>
	   </main>
		<footer id="footer">
			<div class="row no-gutters justify-content-center">
				<ul class="nav justify-content-center mt-3">
					<li class="nav-item">
					  <a class="nav-link active" href="../index.html">Inicio</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="sobremi.html">Sobre Mí</a>
					</li>
					<li class="nav-item footer_nav_item">
					  <a class="nav-link" href="portafolio.html">Portafolio</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="fotografia.html">Fotografía</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contacto.html">Contacto</a>
					</li>
				  </ul>
			</div>
			<div class="row no-gutters mt-3">
				<div class="col-12 no-gutters text-center">
					<a class="footer_redes" href="https://www.instagram.com/svasco_shoot/?igshid=16shcjqvyawqs" target="_blank">
						<i class="fab fa-instagram fa-2x"></i>
					</a>
					<a  class="footer_redes" target="_blank" href="https://www.linkedin.com/in/stephanie-vasco-49274290/">
						<i class="fab fa-linkedin-in fa-2x"></i>
					</a>
					<a  class="footer_redes" target="_blank" href="https://www.behance.net/stephanievasco1">
						<i class="fab fa-behance-square fa-2x"></i>
					</a>
					<a class="footer_redes" target="_blank" href="contacto.html">
						<i class="far fa-envelope fa-2x"></i>
					</a>
				</div>		
			</div>
			<div class="footer_copyright row no-gutters mt-4">
				<div class="col no-gutters text-center">
					<p id="copyright">
						Copyright © 2020 StephanieVasco. Todos los derechos reservados. <br>
						Coded by Andrea Bastidas <br>
						<i class="fas fa-map-marker-alt fa-1x"></i> Buenos Aires, Argentina. 
					</p>
				</div>
			</div>
		</footer>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>	
	<script src="../js/lightbox.js"></script>
</body>
</html>